.contentImage_inner{
    margin: 0 auto;
    /*margin: 20px 20px 20px 20px;*/
}

.contentImage_inner img{
    width:120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
    display: block;
    margin: 20px auto;
}