.header{
    grid-area: header;
    background-color: #ad9b79;
    border-radius: 10px;
    border: 2px solid black;
    
}

.header img{
    width: 80px;
    padding: 5px;
    padding-left: 10px;
  }
  
/*  #0C0032 - #190061 - #240090 - #3500D3 - #282828 */